<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center drink-container">
        <h2 class="page-heading f bordering title">Cheers</h2>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center center-block">
      <%= image_tag "martini.png" %>
    </div>
  </div>
</div>

<ul>
  <% @profiles.each do |profile| %>
   <li>
     <p><%= profile.user.name %></p>
     <%= image_tag profile.profile_image_url, size: "200x200" %>
   </li>
  <% end %>
</ul>
